@font-face {
  font-family: 'Hind-Bold';
  src: url('Hind-Bold.eot?#iefix') format('embedded-opentype'),  url('Hind-Bold.woff') format('woff'), url('Hind-Bold.ttf')  format('truetype'), url('Hind-Bold.svg#Hind-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
